In [9]:

import pandas as pd
    
import cx_Oracle

pw = '!99HAW!re67'

usr = 'GDALLAS'
path = 'C:\ORACLE\instantclient_19_11'

host = 'ALASTRIA'
port = 1524
service = 'CW1T2'
cx_Oracle.init_oracle_client(lib_dir= path) # use this is service isn't initialised

cx_Oracle.clientversion()  
dsn_tns = cx_Oracle.makedsn(host, port, service_name=service)

conn = cx_Oracle.connect(user=usr, password=pw, dsn=dsn_tns)

c = conn.cursor()

query = """select distinct "WBC_CASE_D"."CASE_NUM" "Case_Number", "WBC_CATCHMENT_AREA_D"."CATCHMENT" "Catchment", "WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_CODE" "Catchment_Area_Code", "WBC_OFFICE_D"."OFFICE_NAME" "Office_Name", "WBC_OFFICE_D"."OFFICE_CD" "Office_Code"
 from "CDW"."WBC_CASE_D" "WBC_CASE_D", "CDW"."WBC_CATCHMENT_AREA_D" "WBC_CATCHMENT_AREA_D", "CDW"."WBC_OFFICE_D" "WBC_OFFICE_D", "CDW"."WBC_CASE_F" "coguda30", "CDW"."WBC_OFFICE_D" "coguda31"
 where  "coguda30"."OFFICE_ORG_WID"="coguda31"."OFFICE_ORG_WID" and "coguda30"."CASE_WID"="WBC_CASE_D"."CASE_WID" and "coguda30"."OFFICE_ORG_WID"="WBC_OFFICE_D"."OFFICE_ORG_WID" and "WBC_OFFICE_D"."CATCHMENT_AREA_WID"="WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_WID"

"""
query2 = """with a as (select replace(POSTAL_CODE, ' ','') as POSTAL_CODE,X_Contact_Num  from icm_stg.w_party_per_d where POSTAL_CODE <> 'Unspecified'),

b as (select POSTCD, COMM_NAME, MUN_NAME, CATCHMENT_NAME from ods.hrdw_tmf)

select * from a left join b on a.POSTAL_CODE = b.POSTCD 


"""
df = pd.read_sql(query2, con=conn)
# print(df.head())

# query3 = """select distinct "WBC_CLIENT_D"."CONTACT_NUM" "Person_ID_ICM", "WBC_OFFICE_D"."OFFICE_CD" "Office_Code", "WBC_OFFICE_D"."OFFICE_NAME" "Office_Name", "WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_CODE" "Catchment_Area_Code", "WBC_CATCHMENT_AREA_D"."CATCHMENT" "Catchment"
#  from "CDW"."WBC_CLIENT_D" "WBC_CLIENT_D", "CDW"."WBC_OFFICE_D" "WBC_OFFICE_D", "CDW"."WBC_CATCHMENT_AREA_D" "WBC_CATCHMENT_AREA_D", "CDW"."WBC_CASE_F" "coguda30", "CDW"."WBC_OFFICE_D" "coguda31"
#  where "coguda30"."OFFICE_ORG_WID"="coguda31"."OFFICE_ORG_WID" and "coguda30"."CONTACT_WID"="WBC_CLIENT_D"."CONTACT_WID" and "coguda30"."OFFICE_ORG_WID"="WBC_OFFICE_D"."OFFICE_ORG_WID" and "WBC_OFFICE_D"."CATCHMENT_AREA_WID"="WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_WID"

# """

# df2 = pd.read_sql(query3, con=conn)

# query4 = """select distinct "WBC_CLIENT_D"."CONTACT_NUM" "Person_ID_ICM", "WBC_OFFICE_D"."OFFICE_CD" "Office_Code", "WBC_OFFICE_D"."OFFICE_NAME" "Office_Name", "WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_CODE" "Catchment_Area_Code", "WBC_CATCHMENT_AREA_D"."CATCHMENT" "Catchment"
#  from "CDW"."WBC_CLIENT_D" "WBC_CLIENT_D", "CDW"."WBC_OFFICE_D" "WBC_OFFICE_D", "CDW"."WBC_CATCHMENT_AREA_D" "WBC_CATCHMENT_AREA_D", "CDW"."WBC_CASE_F" "coguda30", "CDW"."WBC_OFFICE_D" "coguda31"
#  where "coguda30"."OFFICE_ORG_WID"="coguda31"."OFFICE_ORG_WID" and "coguda30"."CONTACT_WID"="WBC_CLIENT_D"."CONTACT_WID" and "coguda30"."OFFICE_ORG_WID"="WBC_OFFICE_D"."OFFICE_ORG_WID" and "WBC_OFFICE_D"."CATCHMENT_AREA_WID"="WBC_CATCHMENT_AREA_D"."CATCHMENT_AREA_WID"

# """
# df3 = pd.read_sql(query4, con=conn)
# df = df.append(df2)
# df = df.append(df3)

DatabaseError: ORA-12545: Connect failed because target host or object does not exist

In [2]:
import pandas as pd
p = pd.read_excel('output (4).xlsx')

In [3]:
n = pd.read_csv('export3.csv')
n.columns

Index(['POSTAL_CODE', 'X_CONTACT_NUM', 'POSTCD', 'COMM_NAME', 'MUN_NAME',
       'CATCHMENT_NAME'],
      dtype='object')

In [23]:

import pandas as pd
    
import cx_Oracle

pw = '!99HAW!re67'

usr = 'GDALLAS'
path = 'C:\ORACLE\instantclient_19_11'

host = 'ALASTRIA'
port = 1524
service = 'CW1T2'
#cx_Oracle.init_oracle_client(lib_dir= path) # use this is service isn't initialised

cx_Oracle.clientversion()  
dsn_tns = cx_Oracle.makedsn(host, port, service_name=service)

conn = cx_Oracle.connect(user=usr, password=pw, dsn=dsn_tns)

c = conn.cursor()
q = """select POSTCD, COMM_NAME, MUN_NAME, CATCHMENT_NAME from ods.hrdw_tmf where POSTCD = 'V3B4R4'"""
d = pd.read_sql(q, con=conn)
print(d)

   POSTCD                                 COMM_NAME  \
0  V3B4R4  PORT COQUITLAM

                                            MUN_NAME CATCHMENT_NAME
0  Port Coquitlam                                ...     Tri-Cities

In [5]:
print(p.shape)
#print(df.dtypes)
y = p.merge(n, how = 'left', left_on = 'Person ID ICM', right_on = 'X_CONTACT_NUM')
print(p.shape)
print(y.head)

(5958, 24)
(5958, 24)
<bound method NDFrame.head of      Activity Type Activity Sub-Type  \
0     Notification               NaN
1     Notification               NaN
2     Notification               NaN
3     Notification               NaN
4     Notification   Action Required
...            ...               ...
5953  Notification               NaN
5954  Notification               NaN
5955  Notification               NaN
5956  Notification               NaN
5957  Notification               NaN

                                   Activity Description  Activity Owner  \
0     EP TEAM: COVID-19 protocol, EP Waived. Client ...             NaN
1     COVID-19 protocol, EP Waived. Client requires ...             NaN
2     ** EP TEAM: Review for new referral and new EP...             NaN
3     EP TEAM: COVID-19 protocol, EP Waived. EP Clie...             NaN
4     COVID19 PROTOCOL: REVIEW FOR WORKBC REFERRAL W...             NaN
...                                                 ...             ...
5953  COVID-19 protocol, EP Waived. Client requires ...             NaN
5954  Spouse (Chun Fang Cheng) “COVID-19 protocol, E...             NaN
5955  COVID-19 protocol, EP Waived. Client requires ...             NaN
5956  “COVID-19 protocol, EP\nWaived. Refer to Work ...             NaN
5957  COVID-19\nprotocol, EP Waived. Client requires...             NaN

     Activity Created Date  Activity End Date Activity Service Office  \
0               2021-10-20                NaN  0CP - Employment Plans
1               2020-12-01                NaN  0CP - Employment Plans
2               2020-12-01                NaN  0CP - Employment Plans
3               2021-05-11                NaN  0CP - Employment Plans
4               2021-02-08                NaN  0CP - Employment Plans
...                    ...                ...                     ...
5953            2021-11-01                NaN  0CP - Employment Plans
5954            2021-11-03                NaN  0CP - Employment Plans
5955            2021-11-04                NaN  0CP - Employment Plans
5956            2021-11-05                NaN  0CP - Employment Plans
5957            2021-11-10                NaN  0CP - Employment Plans

      Activity Result    Case Number         EPBC Catchment  ... CONTACT_WID  \
0                 NaN   1-2389-46989      Surrey Cloverdale  ...    38870647
1                 NaN  1-2440-102459      Surrey Cloverdale  ...    38835477
2                 NaN   1-2272-94685  Vancouver City Centre  ...    39838624
3                 NaN  1-2311-193325        North Vancouver  ...    37780808
4                 NaN  1-2681-140223      Thompson - Nicola  ...    37767879
...               ...            ...                    ...  ...         ...
5953              NaN  1-65757627784      Southern Okanagan  ...    39176596
5954              NaN  1-65794535942        Vancouver South  ...   169469431
5955              NaN  1-65818551322    Kamloops - Thompson  ...    38610057
5956              NaN  1-65831947216             Tri-Cities  ...   167607825
5957              NaN  1-65895505879      Surrey Cloverdale  ...   110801432

      Person ID ICM Relationship Code Self Identified Aboriginal flag  \
0     1-3707-191888        Key player                               N
1      1-2758-97348        Key player                               N
2      1-3563-95949        Key player                               N
3     1-2703-194476        Key player                               N
4      1-2359-11851        Key player                               Y
...             ...               ...                             ...
5953  1-3884-146744            Spouse                               N
5954  1-65380817951        Key player                               N
5955  1-2203-190694        Key player                               N
5956  1-64220494992        Key player                               N
5957  1-20750435727        Key player                               N

     POSTAL_CODE  X_CONTACT_NUM  POSTCD  \
0         V1J0H3  1-3707-191888  V1J0H3
1         V3K1J3   1-2758-97348  V3K1J3
2            NaN            NaN     NaN
3         V3W6N2  1-2703-194476  V3W6N2
4         V0X1K0   1-2359-11851  V0X1K0
...          ...            ...     ...
5953      V2A6A9  1-3884-146744  V2A6A9
5954         NaN            NaN     NaN
5955      V2R3A1  1-2203-190694  V2R3A1
5956         NaN            NaN     NaN
5957         NaN            NaN     NaN

                                     COMM_NAME  \
0     FORT ST. JOHN
1     COQUITLAM
2                                          NaN
3     SURREY
4     HEDLEY
...                                        ...
5953  PENTICTON
5954                                       NaN
5955  CHILLIWACK
5956                                       NaN
5957                                       NaN

                                               MUN_NAME     CATCHMENT_NAME
0     Fort St. John                                 ...          Northeast
1     Coquitlam                                     ...         Tri-Cities
2                                                   NaN                NaN
3     Surrey                                        ...      Surrey Newton
4     Okanagan-Similkameen G                        ...  Southern Okanagan
...                                                 ...                ...
5953  Penticton                                     ...  Southern Okanagan
5954                                                NaN                NaN
5955  Chilliwack                                    ...  Fraser North-East
5956                                                NaN                NaN
5957                                                NaN                NaN

[5958 rows x 30 columns]>

In [57]:
df.loc[df['Service_Request_Number'].astype(str) == '1-63665214766']
print(df['Service_Request_Number'])

0         1-60126132253
1         1-64280204941
2         1-65160239268
3         1-65383767358
4         1-65379762909
              ...
365485    1-62987164461
365486    1-63950669564
365487    1-65431047715
365488    1-64362143206
365489    1-41278613006
Name: Service_Request_Number, Length: 365490, dtype: object

In [61]:
d = df['Service_Request_Number'].str[2:]
print(min(d.astype(float), key=lambda x:abs(x-60292786984)))

60292638767.0

In [6]:
y.to_csv('output (3).csv')